[submodule "github.com-djklmr-2025=repositories/submodules/arkaios-neural-agent-main"]
	path = github.com-djklmr-2025=repositories/submodules/arkaios-neural-agent-main
	url = https://github.com/djklmr2025/arkaios-neural-agent-main
[submodule "github.com-djklmr-2025=repositories/submodules/VEO-Free-Creator"]
	path = github.com-djklmr-2025=repositories/submodules/VEO-Free-Creator
	url = https://github.com/djklmr2025/VEO-Free-Creator
