[submodule "github.com-djklmr-2025=repositories/submodules/arkaios-neural-agent-main"]
	path = github.com-djklmr-2025=repositories/submodules/arkaios-neural-agent-main
	url = https://github.com/djklmr2025/arkaios-neural-agent-main
[submodule "github.com-djklmr-2025=repositories/submodules/VEO-Free-Creator"]
	path = github.com-djklmr-2025=repositories/submodules/VEO-Free-Creator
	url = https://github.com/djklmr2025/VEO-Free-Creator
[submodule "github.com-djklmr-2025=repositories/submodules/arkaios-core-api"]
	path = github.com-djklmr-2025=repositories/submodules/arkaios-core-api
	url = https://github.com/djklmr2025/arkaios-core-api
[submodule "github.com-djklmr-2025=repositories/submodules/arkaios-service-proxy"]
	path = github.com-djklmr-2025=repositories/submodules/arkaios-service-proxy
	url = https://github.com/djklmr2025/arkaios-service-proxy
[submodule "github.com-djklmr-2025=repositories/submodules/GEMINI-API-KEY"]
	path = github.com-djklmr-2025=repositories/submodules/GEMINI-API-KEY
	url = https://github.com/djklmr2025/GEMINI-API-KEY
[submodule "github.com-djklmr-2025=repositories/submodules/lobe-chat-arkaios"]
	path = github.com-djklmr-2025=repositories/submodules/lobe-chat-arkaios
	url = https://github.com/djklmr2025/lobe-chat-arkaios
[submodule "github.com-djklmr-2025=repositories/submodules/IA-ARKAIOS"]
	path = github.com-djklmr-2025=repositories/submodules/IA-ARKAIOS
	url = https://github.com/djklmr2025/IA-ARKAIOS
